/*Global Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.3rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #3fd3ae;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

button:hover {
  background: #3ec4a2;
}

/*Nav Section With HERO*/

.main-head {
  background: #3fd3ae;
  color: white;
}

nav {
  display: flex;
  width: 90%;
  padding: 2rem;
  min-height: 10vh;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: normal;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./images/photo-of-person-standing-on-beach-2598675.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 3rem;
}

/*Locations Section Styles*/

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./images/alcazar-de-colon-exterior-x3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
  color: white;
}

.locations-head h2 {
  padding: 1rem 0;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
  padding: 4rem 0;
}

/*Benefits Section Styles*/

.benefits-head {
  background: #3fd3ae;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.benefits-head h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.card-icon {
  background: #3ec4a2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h4,
.card p {
  padding: 1rem;
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}

/*Contact Section Styles*/

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent),
    url(./images/photo-of-wooden-cabin-on-beach-near-coconut-trees-2598683.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.7);
  width: 60%;
  color: white;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 4rem;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

.form-wrapper label {
  margin: 0 3rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-wrapper input {
  padding: 1rem 3rem;
}

/*Footer Styles*/

footer {
  color: white;
  background: #3fd3ae;
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

.footer-wrapper h5 {
  flex: 1 1 40rem;
}

.footer-wrapper ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

/*Media Queries*/
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding: 2rem;
  }

  .cloud {
    height: 40rem;
  }

  .form-wrapper {
    width: 95%;
  }

  footer {
    text-align: center;
  }

  footer h5 {
    padding-bottom: 3rem;
  }

  .locations-head {
    text-align: center;
  }
}
